.logo {
  width: 15%;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .logo {
    padding-left: 50px;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
}
.fontMB {
  font-family: "Montserrat";
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
.fontMR {
  font-family: "Montserrat-Regular";
}

.hoverBtn:hover {
  background-color: white;
  color: black;
  border: 0px;
  transition: all 1s;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightgray;
}

.borderT {
  border: transparent;
}

footer {
  background-color: var(--background-dark1);
}

.bg-green1 {
  background-color: #0F5132;
}

.catalog:hover {
  transition: all 0.3s;
  padding: 10px;
  cursor: pointer;
}

.txtProd {
  padding-left: 20px;
  font-size: 13px;
  line-height: 1px;
  padding-top: 10px;
}

@media (min-width: 1024px) {
  .logo1 {
    width: 25%;
    height: auto;
  }
  .imgClothing {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .btn1 {
    position: absolute;
    top: 70%;
    left: 25%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    width: 50%;
    height: 10%;
  }
  .logoFooter {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navIcon {
    padding-left: 8px;
    padding-bottom: 8px;
  }
  .gridClothing {
    display: grid;
    grid-template-areas: "filtros productos";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
  }
  .filtros {
    grid-area: filtros;
  }
  .productos {
    grid-area: productos;
  }
  .gridProductos {
    display: grid;
    grid-template-areas: "c1 c2 c3" "c4 c5 c6" "c7 c8 c9" "c10 c11 c12";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .c1 {
    grid-area: c1;
  }
  .c2 {
    grid-area: c2;
  }
  .c3 {
    grid-area: c3;
  }
  .c4 {
    grid-area: c4;
  }
  .c5 {
    grid-area: c5;
  }
  .c6 {
    grid-area: c6;
  }
  .c7 {
    grid-area: c7;
  }
  .c8 {
    grid-area: c8;
  }
  .c9 {
    grid-area: c9;
  }
  .c10 {
    grid-area: c10;
  }
  .c11 {
    grid-area: c11;
  }
  .c12 {
    grid-area: c12;
  }
  .catalog {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .padding-catalog {
    padding-top: 48px;
  }
}
@media (max-width: 768px) {
  .logo1 {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .btn1 {
    position: absolute;
    top: 70%;
    left: 25%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    width: 50%;
    height: 10%;
  }
  .logoFooter {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navIcon {
    display: flex;
  }
  .catalog {
    width: 100%;
    height: auto;
  }
  .gridProductos {
    display: grid;
    grid-template-areas: "c1 c2" "c3 c4" "c5 c6" "c7 c8" "c9 c10" "c11 c12";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }
  .catalog {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1640px) {
  .gridProductos {
    display: grid;
    grid-template-areas: "c1 c2" "c3 c4" "c5 c6" "c7 c8" "c9 c10" "c11 c12";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }
  .catalog {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .logoFooter {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.bg-dark1 {
  background-color: rgb(29, 29, 29);
}

.white {
  filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(354deg) brightness(115%) contrast(103%);
}

.hoverFooter:hover {
  border-bottom: solid white 1px;
  transition: all 1s;
}

:root {
  --background-dark1: rgb(29, 29, 29) ;
}

.fontFooter {
  font-size: 10px;
  color: rgb(101, 101, 101);
  text-align: center;
}

.centerItems {
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
