
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
}
.fontMB{font-family: "Montserrat";}
@font-face {
    font-family: "Montserrar-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}
.fontMR{font-family: "Montserrat-Regular";}